<ion-view view-title="Chart">
    <ion-nav-bar class="bnav">
      <ion-nav-buttons side="left"><button class="button" ng-click="go_back()"> <img src="../img/arrowleft.png" style="opacity:0.5;" height="20" width="20"></button></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
<nvd3 options="chart.options" data="chart.data" class="with-3d-shadow with-transitions"></nvd3>
<button class="button button-full button-positive" ng-click="finish()">
  OK
</button>

</ion-content>
</ion-view>
