<ion-view view-title="Thématique">
  <ion-nav-bar class="bnav">
<ion-nav-buttons side="left"><button class="button" ng-click="go_back()"> <img src="../img/arrowleft.png" style="opacity:0.5;" height="20" width="20"></button></ion-nav-buttons>
  </ion-nav-bar>
<ion-content>
<ion-list>
    <ion-item class="item item-thumbnail-left" ng-repeat="categorie in categories track by $index"
    ng-click="open_champ($index)">
      <img src="{{categorie.logo}}">
      <h2 style="margin-top: 34px;text-transform: capitalize;">{{categorie.title}}</h2>
    </ion-item>
    <ion-item class="item item-thumbnail-left"
    ng-click="add_champ()">
      <img src="https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/add_file-512.png">
      <h2 style="margin-top: 34px;text-transform: capitalize;">Ajouter une categorie</h2>
    </ion-item>
</ion-list>
</ion-content>
</ion-view>