<ion-view view-title="{{categorie_choose}}" style="text-transform: capitalize;">
   <ion-nav-bar class="bnav">
     <ion-nav-buttons side="left">
      <button class="button" ng-click="go_categorie()"> <img src="../img/arrowleft.png" style="opacity:0.5;" height="20" width="20"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button"
    ng-click="create_proto()">
    <i style="font-size:24px;color: #50d2c2;" class="ion-checkmark"></i>
      </button>
    </ion-nav-buttons>
     </ion-nav-bar>
    <ion-content>
       <ion-list>
    <ion-item class="item-remove-animate" ng-repeat="qa in data track by $index">
  <h2 style="margin-bottom: 10%;">Question-reponse n°{{$index + 1}}</h1>
  <label class="item item-input">
  <span class="input-label">question</span>
  <input type="text" placeholder="Entrez votre question ici " ng-model="data[$index].q">
 </label>
 <div class="col-md-12 col-xs-12">
 <hr style="width: 112%;">
 </div>
  <label class="item item-input item-select">
    <div class="input-label">
      reponse
    </div> <select name="mySelect" id="mySelect"
      ng-options="option.name for option in items track by option.id"
      ng-model="data[$index].a"></select>
</label>
 <div class="col-md-12 col-xs-12">
 <hr style="width: 112%;">
 </div>
<ion-option-button class="button-assertive" ng-click="del_qa($index)">
          suppr
        </ion-option-button>
      </ion-item>
      </ion-list>
      <div class="col-md-2 col-xs-1"></div>
      <div class="col-md-8 col-xs-10" style="padding-top: 31%">
        <button style="background-color:#50d2c2 !important; color: #fff;width: 100%;" class="button" ng-click="add_qa()">
  ajouter une question reponse
        </button>
      </div>
      <div class="col-xs-1 col-md-2"></div>
      <div class="col-xs-2"></div>
      <div class="col-xs-8" style="padding-top: 10%">
        <button class="button" style="background-color:#50d2c2 !important; color: #fff;width: 100%;" ng-click="add_tags()">
          ajouter un tags <i class="icon ion-ios-pricetags"></i>
        </button>
      </div>
      <div class="col-xs-2"></div>

 
 
</ion-content>
</ion-view>
