<ion-view view-title="Phase" class="background">
      <ion-nav-bar class="bar-royal">
<ion-nav-buttons side="right"><button class="button" ng-click="go_back()">back <i class="ion-close"></i></button></ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
<section id="cd-timeline" class="cd-container">
          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-icon royal">
	<i class="{{activity.logo}} timelineIcon"></i>              </div>
		<div class="cd-timeline-content royal">
                <h5 class="marginBottom0 marginTop0">{{activity.title}}</h5>
                <p class="marginTop5 cd-author">par {{activity.author}} le {{activity.date | date: "d MMM"}}</p>
                <h6 class="timelineText">{{activity.text}}</h6>
              </div>
            </div>
          </div>
 <a class="item item-icon-left" ng-click="add_phase()">
    <i class="icon ion-plus-circled royal"></i>
   	<h2>ajouter une etape</h2>
  </a>
</section>
</ion-content>
</ion-view>
