<ion-view view-title="Chart" >
    <ion-nav-bar class="bnav">
      <ion-nav-buttons side="left"><button class="button" ng-click="go_back()"> <img src="../img/arrowleft.png" style="opacity:0.5;" height="20" width="20"></button></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
  <div class="item item-divider">
    logs
  </div>
	<ion-list>
		<ion-item ng-repeat="push in current_push">
			{{push.user}} add data the {{push.time}}
		</ion-item>
	</ion-list>
<button class="button button-full button-royal" ng-click="sendmail()">
	envoyer par mail sous format excel
</button>
<p>char recu: </p>
<nvd3 options="chart_visu.options" data="chart_visu.data" class="with-3d-shadow with-transitions"></nvd3>
  </ion-content>
</ion-view>
