<ion-view view-title="Mon compte">
    <ion-nav-bar class="bnav">
<ion-nav-buttons side="right"><button class="button" ng-click="go_choose()"><i class="ion-close"></i></button></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
    <ion-toggle ng-model="settings.enableCollect" toggle-class="toggle-royal">
        J'autorise la collecte des données
    </ion-toggle>
  <div class="item item-divider">
    Administration des utilisateurs
  </div>
 <ion-item class="item item-light item-icon-left" ng-repeat="user_a in userauth track by $index" ng-click="del_user($index)">
<div>
    <i class="icon ion-person"></i>
  <p style="padding-right:0;">{{user_a.email}}</p>
</div>
  </ion-item>
    <ion-item class="item item-icon-left" ng-click="add_user()">
        <i class="icon ion-person-add"></i>
      <h2>Ajouter jusqu'à cinq utilisateurs</h2>
    </ion-list>
  </ion-content>
</ion-view>
